# IDE 및 에디터
# VS Code
.vscode/

# 민감한 정보 (Secrets)
# 환경 변수 파일 (API 키, DB 접속 정보 등)
.env
*.db

# Private Keys
*.pem
*.key

# 로그 및 임시 파일
*.log
*.tmp
*.temp

# 의존성 패키지 폴더 (Dependency)
# Node.js
node_modules/

# Python
venv/
.venv/
__pycache__/

.python-version
